<!DOCTYPE html PUBLIC -//W3C//DTD XHTML 1.0 Strict//EN http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd>
 <html lang="en">
 <head>
	 <title></title>
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" href="../assets/css/bootstrap.css" type="text/css"/>
	 <style>
	 .cari {
	 	width:50%;
	 	margin-bottom:5%;
	 	
	 }
	 body {
	 	padding-top:20%;
	 }
	 </style>
	 <script src="../assets/js/react.min.js"></script>
	 <script src="../assets/js/react-dom.min.js"></script>
	 <script src="../assets/js/ajax.js"></script>
	 <script src="../assets/js/browser.min.js"></script>
 </head>
	 <body>
		<div  id="container"></div>
		<script type="text/babel">
		
			class Cari extends React.Component {
				render() {
					return <input className='cari' type="text" placeholder='search....' />;
				}
			}		
			class Row extends React.Component {
				render() {
					return (
						<tr>
							<td>{this.props.nama}</td>
							<td>{this.props.kelas}</td>
							<td>{this.props.act}</td>
						</tr>
					);
				}
			}
			class Crud extends React.Component {
				render() {
					var baris	 = [];
					this.props.data.forEach(function(data){
						baris.push(<Row nama={data.nama} kelas={data.kelas} act='hapus' />);
					});
					return (
						<div className='col-sm-4 col-sm-offset-2'>
						<h1>Tabel CRUD</h1>
							<Cari />
							<table className='table table-striped table-responsive'>
							<thead>
								<td>Nama</td>
								<td>Kelas</td>
								<td>aksi</td>
							</thead>
							<tbody>
								{baris}
								</tbody>
							</table>
						</div>
					);
				}
			}
			var data = [{"nama":"nsma","kelas":"ndat "},{"nama":"nursan","kelas":"XII TKJ 2"},{"nama":"ina","kelas":"XII TKJ "},{"nama":"rahmat","kelas":"XII TKJ 1"}];
			ReactDOM.render(
				<Crud data={data} />,
				document.getElementById("container")
			);
		</script>
	 </body>
 </html>